<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- 使用dwr与点对点聊天创建  singleton 的bean, 在bean中创建 List<session>对象
	待完善。。。。
	-->
	<!-- 聊天 singleton -->
	<bean id="javascriptChat" class="person.daizhongde.migration.dwr.reverseajax.JavascriptGroupChat" autowire="byType"></bean>
	<!-- 实例监控prototype 每次对该bean的请求都会创建一个新的实例-->
	<bean id="migJobInsComet"
		class="person.daizhongde.migration.dwr.reverseajax.MigJobInsComet"
		autowire="byType" scope="prototype">
	</bean>

	<!-- 全局常量|service  autowire="byType" -->
	<bean id="commonService" init-method="init" class="person.daizhongde.migration.spring.service.impl.CommonServiceImpl" autowire="byName"></bean>
	<bean id="queryService" class="person.daizhongde.migration.spring.service.impl.CommonQUERYServiceImpl" autowire="byName"></bean>
	<bean id="constantService" class="person.daizhongde.migration.spring.service.impl.ConstantServiceImpl" autowire="byName"></bean>
	
	<bean id="curdService" class="person.daizhongde.migration.spring.service.impl.CommonCURDServiceImpl" autowire="byName"></bean>
	
	<bean id="busiMemoryService" init-method="init" class="person.daizhongde.migration.spring.service.impl.BusiMemoryServiceImpl" autowire="byName"></bean>
	
	<bean id="pubService" class="person.daizhongde.migration.spring.service.impl.PubServiceImpl" autowire="byType"></bean>
	
	<bean id="tPubDictionaryService" class="person.daizhongde.migration.spring.service.impl.TPubDictionaryServiceImpl" autowire="byType"></bean>

	<!-- job import -->
	<bean id="migJobInfoIMPService" class="person.daizhongde.migration.spring.jdbc.MigJobInfoIMPServiceImpl" autowire="byType"></bean>
	<!-- Legality audit config import -->
	<bean id="migAuditvConfigIMPService" class="person.daizhongde.migration.spring.jdbc.MigAuditvConfigIMPServiceImpl" autowire="byType"></bean>

	<!--comIns|service  -->
	<bean id="migComInsService" class="person.daizhongde.migration.spring.service.impl.MigComInsServiceImpl" autowire="byType"></bean>
	<!--comInfo|service  -->
	<bean id="migComInfoService" class="person.daizhongde.migration.spring.service.impl.MigComInfoServiceImpl" autowire="byType"></bean>
	
	<!--controlInfo|service  -->
	<bean id="migControlInfoService" class="person.daizhongde.migration.spring.service.impl.MigControlInfoServiceImpl" autowire="byType"></bean>
	
	<!--controlTemplate|service  -->
	<bean id="migControlTemplateService" class="person.daizhongde.migration.spring.service.impl.MigControlTemplateServiceImpl" autowire="byType"></bean>
	
	<!--jobContent|service  -->
	<bean id="migJobContentService" class="person.daizhongde.migration.spring.service.impl.MigJobContentServiceImpl" autowire="byType"></bean>
	
	<!--jobInfo|service  -->
	<bean id="migJobInfoService" class="person.daizhongde.migration.spring.service.impl.MigJobInfoServiceImpl" autowire="byType"></bean>
	<!--jobIns|service  -->
	<bean id="migJobInsService" class="person.daizhongde.migration.spring.service.impl.MigJobInsServiceImpl" autowire="byType"></bean>
	
	<!--jobLog|service  -->
	<bean id="migJobLogService" class="person.daizhongde.migration.spring.service.impl.MigJobLogServiceImpl" autowire="byType"></bean>
	
	<!--jobPara|service  -->
	<bean id="migJobParaService" class="person.daizhongde.migration.spring.service.impl.MigJobParaServiceImpl" autowire="byType"></bean>
	<!--insPara|service  -->
	<bean id="migInsParaService" class="person.daizhongde.migration.spring.service.impl.MigInsParaServiceImpl" autowire="byType"></bean>
	
	<!--jobProcess|service  -->
	<bean id="migJobProcessService" class="person.daizhongde.migration.spring.service.impl.MigJobProcessServiceImpl" autowire="byType">
		<property name="taskErrorEmail">
			<value>${email.taskErrorEmail}</value>
		</property>
	</bean>
	
	<!--jobStat|service  -->
	<bean id="migJobStatService" class="person.daizhongde.migration.spring.service.impl.MigJobStatServiceImpl" autowire="byType"></bean>

	<!--staticprarDefine|service  -->
	<bean id="migCodedetailDefineService" class="person.daizhongde.migration.spring.service.impl.MigCodedetailDefineServiceImpl" autowire="byType"></bean>
	
	<bean id="migConfigConnectionService" class="person.daizhongde.migration.spring.service.impl.MigConfigConnectionServiceImpl" autowire="byType"></bean>
	
	<!--taskInfo|service  -->
 	<bean id="migTaskInfoService" class="person.daizhongde.migration.spring.service.impl.MigTaskInfoServiceImpl" autowire="byType"></bean>

	<!--MigTaskConfig|service  -->
 	<bean id="migTaskConfigService" class="person.daizhongde.migration.spring.service.impl.MigTaskConfigServiceImpl" autowire="byType"></bean>

	<!--MigInsConfig|service  have not been used -->
<!--  	<bean id="migInsConfigService" class="person.daizhongde.migration.spring.service.impl.MigInsConfigServiceImpl" autowire="byType"></bean> -->

	<!--field audit -->
 	<bean id="migAuditfMainService" class="person.daizhongde.migration.spring.service.impl.MigAuditfMainServiceImpl" autowire="byType"></bean>

 	<bean id="migAuditfSubService" class="person.daizhongde.migration.spring.service.impl.MigAuditfSubServiceImpl" autowire="byType"></bean>

	<!-- MIG_AUDITF_MAIN_RESULT -->
 	<bean id="migAuditfMainResultService" class="person.daizhongde.migration.spring.service.impl.MigAuditfMainResultServiceImpl" autowire="byType"></bean>
	<bean id="migAuditfMainResultService_EXP" class="person.daizhongde.migration.spring.service.exp.MigAuditfMainResultServiceImpl_EXP" autowire="byType"></bean>

	<!-- MIG_AUDITF_DETAIL_RESULT -->
 	<bean id="migAuditfDetailResultService" class="person.daizhongde.migration.spring.service.impl.MigAuditfDetailResultServiceImpl" autowire="byType"></bean>
	<bean id="migAuditfDetailResultService_EXP" class="person.daizhongde.migration.spring.service.exp.MigAuditfDetailResultServiceImpl_EXP" autowire="byType"></bean>
	<bean id="migAuditfFieldResultService" class="person.daizhongde.migration.spring.service.impl.MigAuditfFieldResultServiceImpl" autowire="byType"></bean>
	<bean id="migAuditfFieldResultService_EXP" class="person.daizhongde.migration.spring.service.exp.MigAuditfFieldResultServiceImpl_EXP" autowire="byType"></bean>

	<!--mig_auditc_consistency -->
 	<bean id="migAuditcConsistencyService" class="person.daizhongde.migration.spring.service.impl.MigAuditcConsistencyServiceImpl" autowire="byType"></bean>
	<!--mig_auditc_enum_mapping -->
 	<bean id="migAuditcEnumMappingService" class="person.daizhongde.migration.spring.service.impl.MigAuditcEnumMappingServiceImpl" autowire="byType"></bean>
	<!--mig_auditc_report_detail_result -->
 	<bean id="migAuditcReportDetailResultService" class="person.daizhongde.migration.spring.service.impl.MigAuditcReportDetailResultServiceImpl" autowire="byType"></bean>
	<bean id="migAuditcReportDetailResultService_EXP" class="person.daizhongde.migration.spring.service.exp.MigAuditcReportDetailResultServiceImpl_EXP" autowire="byType"></bean>
	
	<!--合法性稽核-配置 -->
 	<bean id="migAuditvConfigService" class="person.daizhongde.migration.spring.service.impl.MigAuditvConfigServiceImpl" autowire="byType"></bean>
 	<bean id="migAuditvConfigtreeService" class="person.daizhongde.migration.spring.service.impl.MigAuditvConfigtreeServiceImpl" autowire="byType"></bean>
 	
	<!--合法性稽核-结果 -->
 	<bean id="migAuditvResultService" class="person.daizhongde.migration.spring.service.impl.MigAuditvResultServiceImpl" autowire="byType"></bean>
 	<bean id="migAuditvErrreasonService" class="person.daizhongde.migration.spring.service.impl.MigAuditvErrreasonServiceImpl" autowire="byType"></bean>
 	<bean id="migAuditvResultService_EXP" class="person.daizhongde.migration.spring.service.exp.MigAuditvResultServiceImpl_EXP" autowire="byType"></bean>
	
	<!-- data count audit for  file\middle table\target table -->
	<bean id="migDataPrecheckService" class="person.daizhongde.migration.spring.service.impl.MigDataPrecheckServiceImpl" autowire="byType"></bean>
	<bean id="migAuditPrecheckService" class="person.daizhongde.migration.spring.service.impl.MigAuditPrecheckServiceImpl" autowire="byType"></bean>
	<bean id="migAuditPrecheckService_EXP" class="person.daizhongde.migration.spring.service.exp.MigAuditPrecheckServiceImpl_EXP" autowire="byType"></bean>
	
	<bean id="tChatMsgService" class="person.daizhongde.migration.spring.service.impl.TChatMsgServiceImpl" autowire="byType"></bean>
 	
 	<bean id="tAsiainfoEmployeeService" class="person.daizhongde.migration.spring.service.impl.TAsiainfoEmployeeServiceImpl" autowire="byType"></bean>
	<bean id="tCopoteEmployeeService" class="person.daizhongde.migration.spring.service.impl.TCopoteEmployeeServiceImpl" autowire="byType"></bean>
	<bean id="tCopoteEmployeeIMPService" class="person.daizhongde.migration.spring.service.imp.TCopoteEmployeeIMPServiceImpl" autowire="byType"></bean>
<!-- 	 init-method="initXwpf" -->
	<bean id="excel2Email" class="person.daizhongde.migration.spring.service.imp.Excel2Email" 
		autowire="byType" scope="prototype">
	</bean>
	
	
	<bean id="migSyncConfigService" class="person.daizhongde.migration.spring.service.impl.MigSyncConfigServiceImpl" autowire="byType"></bean>
	<bean id="migSyncConfigService_IMP" class="person.daizhongde.migration.spring.jdbc.MigSyncConfigServiceImpl_IMP" autowire="byType"></bean>
	
</beans>
