<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://cxf.apache.org/jaxws 
		http://cxf.apache.org/schemas/jaxws.xsd
		http://cxf.apache.org/transports/http/configuration 
        http://cxf.apache.org/schemas/configuration/http-conf.xsd">

	<bean id="migWsClientService" class="person.daizhongde.migration.spring.service.wsclient.MigWSClientServiceImpl" autowire="byType"></bean>
	
	<import resource="classpath:META-INF/cxf/cxf.xml"/>
	
	<bean id="authInterceptor" class="person.daizhongde.migration.spring.service.wsclient.AddHeaderOutInterceptor">
		<constructor-arg value="asiainfo" /> 
        <constructor-arg value="migration" /> 
	</bean>
	
	<jaxws:client id="migWsClient" 
		serviceClass="person.daizhongde.migration.spring.service.wsclient.cominterface.ComInterFacePortType"
		address="http://10.1.249.109:1111/migration/ComInterFace">
		
		<!-- 启用in 拦截器 -->
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingInInterceptor"></bean>
		</jaxws:inInterceptors>
		<!-- 启用Out 拦截器 -->
		<jaxws:outInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"></bean>
			<ref bean="authInterceptor"/>
		</jaxws:outInterceptors>
	</jaxws:client>
	<!-- 
 	<http-conf:conduit name="{http://10.1.249.109:1111/migration/ComInterFace}executeSql.http-conduit">
         <http-conf:client ConnectionTimeout="10000" ReceiveTimeout="20000"/>
	</http-conf:conduit> -->
	<!-- 连接超时为1分钟，调用返回超时为 1天  24*60*60000=86400000 -->
	<http-conf:conduit name="*.http-conduit">   
        <http-conf:client ConnectionTimeout="60000" ReceiveTimeout="86400000"/>  
    </http-conf:conduit>
</beans>
